version: '3.8'

services:
  web:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app/app
    env_file:
      - .env
    environment:
      # Unbuffered
      - PYTHONUNBUFFERED=1
    depends_on:
      db:
        condition: service_healthy
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload

  db:
    image: postgres:16-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=wallet_user
      - POSTGRES_PASSWORD=wallet_password
      - POSTGRES_DB=wallet_db
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U wallet_user -d wallet_db" ]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
